.application-card {
  display: flex;
  gap: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin: 0;
  }

  &__icon {
    margin-top: 2px;
    stroke: var(--secondary-orange);
    fill: transparent;
  }

  &__text {
    opacity: .8;
  }
}
