.button {
  display: block;
  border-radius: 32px;
  padding: 5px 26px;
  color: var(--color-white);
  background-color: var(--secondary-orange);
  border: 2px solid var(--secondary-orange);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  text-wrap: nowrap;

  &:hover {
    color: var(--secondary-orange);
    background: transparent;
  }

  &--link {
    text-decoration: none;
    text-align: center;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
