.life-card {
  padding: 10px;
  font-size: 14px;
  line-height: 186%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    margin: 0;
  }

  &__icon {
    display: flex;
    fill: var(--secondary);
  }
}
