.link {
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;

  &:hover {
    color: var(--secondary-orange);
  }

  &--content {
    color: var(--color-text-primary);
    text-decoration: underline;

    &:hover {
      color: var(--secondary-orange);
    }
  }
}
