.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--secondary-orange);
  }

  &--content {
    color: var(--color-text-primary);
    text-decoration: underline;

    &:hover {
      color: var(--secondary-orange);
    }
  }
}
