:root {
  --primary: #fffcf4;
  --secondary: #2e2100;
  --secondary-orange: #ffb900;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-second: #5f5b53;
  --color-text-primary: #171100;

  --font-family: "Poppins", sans-serif;
  --second-family: "Sen", sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-min-desktop: 992px;
$bp-desktop: 1280px;
