.hero-section {
  padding: 124px 0;
  position: relative;
  background-color: var(--primary);
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    padding: 150px 0;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 60px;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      align-items: flex-start;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 117%;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--color-text-primary);

    @media screen and (min-width: $bp-tablet) {
      font-size: 48px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 58px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #6b6b6b;
  }

  &__button {
    margin-left: 0;
    width: fit-content;
    text-wrap: nowrap;
    align-self: center;
  }

  &__img {
    width: 70%;
    object-fit: contain;

    @media screen and (min-width: $bp-tablet) {
      width: 35%;
    }
  }
}
